.mobil-content{
    /* margin: 0 auto; */
    display: flex;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    gap:50px;
    /* border: 5px solid red; */
    /* width: 80%; */
    margin-top: 108px;

}
.mobil-left{
    width: 100%;
    height: 100%;
    /* margin-top: 200px; */
    /* margin-left: 100px; */
    display:flex-col;
    justify-content: center;
    align-items: center;
}
.mobil-left h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: 'Mulish', sans-serif;
}
.mobil-left p{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
}
.mobil-right{
    width: 100%;
    /* margin-right: 100px; */
    /* padding-top: 50px; */
}
.mobil-right img{
    width: 100%;
}
.btn{
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 55px;
    background-color: #458FF6;
    color: white;
    cursor: pointer;
}