.navbar{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 2rem; */
}
.nav-logo img{
    width: 160px;
    height: 41px;
    padding-left: 172x;
}
.nav-list{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;    
}
.nav-home{
    font-weight: 700;
    margin: 0 1rem;
    font-size: 18px;
}
.nav-item{
    margin: 0 1rem;
    font-size: 18px;
    list-style: none;
    display: flex;
    font-weight: 400;
    
}