.blog{
    margin-top: 108px;
    align-items: center;
    width: 100%;

    /* display: flex; */
}
.blog h2{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.blog-post{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* width: 90%; */
    /* margin-left: 20px; */
    align-items: center;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 108px;
}